body{
font-family: 'Raleway', sans-serif;
margin: 5px;
}


/*Header*/

header{
    padding: 30px 30px 30px 40px;
}

header nav img{
  width: 60px;
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header nav a{
  margin-left: 40px;
  text-decoration: none;
  color: black;
}

header nav a:hover {
  border-top: solid;
  padding-top: 33px;
  color: #0065fc;
  border-top-color: #0065fc;
}

/*Main*/

main{
  margin: 0px 35px 0px 35px;
}

/*Grand titre*/
.titre h1{
  font-size: 1.3em;
  margin-top: 2%;
  margin-bottom: 0px;
}

.titre p{
  margin-top: 1%;
  
}

/*Form*/

form{
  border: 1px solid #deebff;
  border-radius: 20px;
  width: 20%;
  padding: 1%;
}


/*Filtres*/

.filtre-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30%;
    justify-content: space-between;
    align-items: baseline;
}

.filtres{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border: 2px solid #dae0e8;
  border-radius: 50px;
  padding: 0% 2% 0% 2%;
}

.filtres:hover{
  background-color: #deebff;
}

.filtres i{
  margin-right: 5px;
  padding-top: 5px;
  color: #0065fc;
}

.filtres p{
  font-size: 0.9em;
  font-weight: 600;
}

/*info*/

.information{
  display: flex;
  align-items: baseline;
}

.information i{
  margin-right: 5px;
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 100%;
  width: 5px;
  padding: 5px;
  font-size: 0.7em;
}

.information p{
  font-size: 0.9em;
}


/*Cartes herbegements*/
.hebergement-marseille{
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  width: 60%;
  margin-top: 30px;
  padding: 20px;
}

.cartes-container{
  display: flex;
  flex-wrap: wrap;
}
.hebergement-marseille h2{
  font-size: 1.1em;
  margin-left: 20px;
}

.hebergement-marseille a{
  text-decoration: none;
  color: black;
}

.cartes{
  border-radius:20px 20px 20px 20px ;
  background-color: white;
  width: 220px;
  height: 180px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 5px 5px 5px #dcdcdc;
}

.cartes img {
  width: 210px;
  height: 110px;
  border-radius:20px 20px 0px 0px ;
  padding: 5px 5px 0px 5px;
}

.cartes h3{
  font-size: 0.8em;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 3px
}

.cartes p{
  font-size: 0.7em;
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: 0px;
}

.cartes .stars{
  font-size: small;
  margin-left: 15px;
  margin-top: 3px;
}

.cartes .fa-star{
  color: #0065fc;
}

.cartes .fa-grey{
  color: #f2f2f2;
}

.hebergement-marseille span{
  font-weight: bold;
  font-size: 0.9em;
  margin-left: 20px;
  margin-top: 70px;
}

/*Les plus populaires*/


.Populaire{
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  width: 30%;
  height: 530px;
  margin-top: 30px;
  padding: 20px;
}

.Populaire a{
  text-decoration: none;
  color: black;
}

.titre-logo{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

}

.titre-logo h2{
  font-size: 1.1em;
  margin-left: 20px;
}

.titre-logo i{
  font-size: 1.1em;
  color: #0065fc;
  margin-right: 5%;
}

.card{
  border-radius:20px 20px 20px 20px ;
  background-color: white;
  width: 340px;
  height: 140px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-top: 2%;
  box-shadow: 5px 5px 5px #dcdcdc;
}

.card img{
  width: 150px;
  height: 130px;
  border-radius:20px 0px 0px 20px;
  padding: 5px;
}

.card-contenu h3{
  font-size: 0.8em;
  margin-bottom: 0px;
  margin-left: 8%;
}

.card-contenu p{
  font-size: 0.7em;
  margin-left: 8%;
  margin-bottom: 0%;
}

.card-contenu .stars{
  font-size: small;
  margin-left: 8%;
  margin-top: 45px;
}
.card-contenu .fa-star{
  color: #0065fc;
}

.card-contenu .fa-grey{
  color: #f2f2f2;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Activités*/

.activite{
  margin-top: 3%;
}
.activite h2{
  font-size: 1.1em
}

.card-a-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.card-a{
  background-color: white;
  box-shadow: 5px 5px 5px #dcdcdc;
  border-radius: 15px;
  width: 300px;
}

.card-a img{
  width: 300px;
  height: 350px;
  border-radius: 15px 15px 0px 0px;
}

.card-a h3{
  font-size: 0.8em;
  margin-left: 15px;
}


.activite a{
  text-decoration: none;
  color: black;
}

/*Footer*/

footer{
  background-color: #f2f2f2;
  margin: 35px 35px 0px 35px;
  margin-bottom: 0px;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer{
  margin-left: 4%;
  margin-right: 17%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.footer h3{
  font-size: 0.9em
}

.footer p{
  font-size: 0.8em
}

