body{
font-family: 'Raleway', sans-serif;
margin: 10px;
}

/*Header*/
header{
    padding: 30px 30px 30px 30px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

nav img{
    width: 70px;
}

nav a{
    margin-left: 40px;
    text-decoration: none;
}

nav a:hover {
    color: #0065fc;
  }